@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000;
  --foreground: #171717;
}
html {
  scroll-behavior: smooth;
}

body {
  color: white;
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

::-webkit-scrollbar {
  width: 10px; /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
  background: #131313; /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
  background: #888; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid #131313; /* creates padding around scroll thumb */
  height: 10px; /* size of the scroll thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* color of the scroll thumb on hover */
}
.perspective {
  transform-style: preserve-3d;
  perspective: 1000px;
}

.bgg {
  background-image: linear-gradient(to right, blue, blue);
  background-size: 0px 0px;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 0.3s ease-in-out;
}

.bgg:hover {
  background-size: 100% 100%;
  border-color: blue;
}
